In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
df_uniqune=pd.read_csv("../data/cleaned_data.csv")

In [21]:
summary = df_uniqune[['game_name', 'highest_price', 'metacritic_user_rating_count']]
summary

,game_name,highest_price,metacritic_user_rating_count
0,Grand Theft Auto IV,25,5541.0
1,Red Dead Redemption 2,60,31932.0
2,Red Dead Online,70,31932.0
3,Grand Theft Auto 3,10,2079.0
4,Grand Theft Auto V,70,14322.0
...,...,...,...
3265,SENRAN KAGURA Burst Re:Newal,40,65.0
3266,Smash Hit Plunder,30,65.0
3267,FOX n FORESTS,20,65.0
3268,DYNASTY WARRIORS 9,70,65.0
3269,Vostok Inc.,15,65.0

In [22]:
summary.sort_values(by='highest_price', ascending=True)

,game_name,highest_price,metacritic_user_rating_count
38,Street Fighter IV,0,5768.0
370,Marvel's Spider-Man: Miles Morales PS4 & PS5,0,823.0
397,The Wolf Among Us - Episode 1: Faith,0,16.0
14,Portal 2,0,2649.0
396,Lara Croft and the Guardian of Light,0,16.0
...,...,...,...
1617,Kingdom Come: Deliverance,10000,578.0
1311,Amnesia: Collection,10000,250.0
2143,My Time at Portia,10000,131.0
2142,RAGE 2,10000,921.0
1969,RAD,10000,30.0

In [23]:
df_uniqune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   game_name                     3270 non-null   object
 1   highest_price                 3270 non-null   int64
 2   release_date                  3270 non-null   object
 3   genre                         3270 non-null   object
 4   publisher                     3270 non-null   object
 5   platform                      3270 non-null   object
 6   metacritic_score              3270 non-null   float64
 7   metacritic_rating_count       3270 non-null   float64
 8   metacritic_user_score         3270 non-null   float64
 9   metacritic_user_rating_count  3270 non-null   float64
 10  playstation_score             3270 non-null   object
 11  playstation_rating_count      3270 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 306.7+ KB

In [24]:
df_uniqune.head()

,game_name,highest_price,release_date,genre,publisher,platform,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count,playstation_score,playstation_rating_count
0,Grand Theft Auto IV,25,"Feb 15, 2012",Action / Shooter / Racing,Rockstar,PS3,98.0,86.0,8.3,5541.0,4.32,48904.0
1,Red Dead Redemption 2,60,"Oct 26, 2018",Action / Adventure / Unique,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379257.0
2,Red Dead Online,70,"Oct 29, 2018",Action / Adventure,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379346.0
3,Grand Theft Auto 3,10,"Oct 4, 2012",--,Rockstar Games,PS3,97.0,56.0,8.0,2079.0,4.59,1437.0
4,Grand Theft Auto V,70,"Sep 17, 2013",Action / Adventure,Rockstar Games,PS3,97.0,66.0,8.5,14322.0,4.65,40895.0

In [25]:
df_uniqune["total_users"]=df_uniqune["metacritic_user_rating_count"] + df_uniqune["playstation_rating_count"]
df_uniqune.head()

,game_name,highest_price,release_date,genre,publisher,platform,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count,playstation_score,playstation_rating_count,total_users
0,Grand Theft Auto IV,25,"Feb 15, 2012",Action / Shooter / Racing,Rockstar,PS3,98.0,86.0,8.3,5541.0,4.32,48904.0,54445.0
1,Red Dead Redemption 2,60,"Oct 26, 2018",Action / Adventure / Unique,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379257.0,411189.0
2,Red Dead Online,70,"Oct 29, 2018",Action / Adventure,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379346.0,411278.0
3,Grand Theft Auto 3,10,"Oct 4, 2012",--,Rockstar Games,PS3,97.0,56.0,8.0,2079.0,4.59,1437.0,3516.0
4,Grand Theft Auto V,70,"Sep 17, 2013",Action / Adventure,Rockstar Games,PS3,97.0,66.0,8.5,14322.0,4.65,40895.0,55217.0

In [26]:
df_uniqune["playstation_score"]=pd.to_numeric(df_uniqune['playstation_score'].fillna(0),errors='coerce')

In [27]:
df_uniqune['user_score_100'] = df_uniqune['metacritic_user_score'] * 10
df_uniqune['playstation_score_100'] = df_uniqune['playstation_score'] * 10

In [28]:
df_uniqune['total_rating'] = (
    (df_uniqune['metacritic_score'] * df_uniqune['metacritic_rating_count']) +
    (df_uniqune['user_score_100'] * df_uniqune['metacritic_user_rating_count']) +
    (df_uniqune['playstation_score_100'] * df_uniqune['playstation_rating_count'])
) / (
    df_uniqune['metacritic_rating_count'] +
    df_uniqune['metacritic_user_rating_count'] +
    df_uniqune['playstation_rating_count']
)

In [29]:
df_uniqune.isna().sum()

game_name                         0
highest_price                     0
release_date                      0
genre                             0
publisher                         0
platform                          0
metacritic_score                  0
metacritic_rating_count           0
metacritic_user_score             0
metacritic_user_rating_count      0
playstation_score               908
playstation_rating_count          0
total_users                       0
user_score_100                    0
playstation_score_100           908
total_rating                    908
dtype: int64

In [30]:
df_sorted= df_uniqune.sort_values("total_rating",ascending=False)
df_sorted

,game_name,highest_price,release_date,genre,publisher,platform,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count,playstation_score,playstation_rating_count,total_users,user_score_100,playstation_score_100,total_rating
13,The Last of Us™,0,"Apr 4, 2012",--,Sony Interactive Entertainment Europe,PS3,95.0,98.0,9.2,16454.0,4.35,113.0,16567.0,92.0,43.5,91.688779
31,Persona 4 Golden,20,"Jan 19, 2023",Role playing games,SEGA EUROPE LTD,PS4,93.0,61.0,9.1,2484.0,5.00,14.0,2498.0,91.0,50.0,90.823369
7,Uncharted 2: Among Thieves™,0,"Oct 15, 2009",--,Sony Interactive Entertainment Europe,PS3,96.0,105.0,8.9,7750.0,4.14,7.0,7757.0,89.0,41.4,89.051107
11,Red Dead Redemption,50,"Aug 17, 2023",Action,Rockstar Games,PS4,95.0,96.0,8.9,4247.0,4.71,45.0,4292.0,89.0,47.1,88.701572
127,Persona 3 Portable,20,"Jan 19, 2023",Role playing games,SEGA EUROPE LTD,PS4,89.0,40.0,8.7,762.0,4.93,14.0,776.0,87.0,49.3,86.451225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3236,Lethis - Path of Progress,20,"May 10, 2022",--,Plug In Digital,PS5,65.0,4.0,7.7,18.0,NaN,36.0,54.0,77.0,NaN,NaN
3240,Smelter,21,"Sep 2, 2021",Action / Adventure / Strategy,DANGEN ENTERTAINMENT,PS5 / PS4,65.0,6.0,0.0,0.0,NaN,6459.0,6459.0,0.0,NaN,NaN
3243,Within the Blade PS4 & PS5,11,"Jul 16, 2021",Action,RATALAIKA GAMES SL,PS5 / PS4,65.0,4.0,0.0,0.0,NaN,7.0,7.0,0.0,NaN,NaN
3244,Alex Kidd in Miracle World DX,20,"Jun 22, 2021",Action,MAX ENT GAMES LIMITED,PS5 / PS4,65.0,31.0,6.6,47.0,NaN,7.0,54.0,66.0,NaN,NaN
3245,Aerial_Knight's Never Yield - PS4 & PS5,12,"May 19, 2021",Action,HEADUP GAMES,PS5 / PS4,65.0,11.0,5.8,14.0,NaN,7.0,21.0,58.0,NaN,NaN

In [31]:
df_sorted = df_sorted[["game_name", "total_users","total_rating"]]
df_sorted

                                    game_name  total_users  total_rating
13                            The Last of Us™      16567.0     91.688779
31                           Persona 4 Golden       2498.0     90.823369
7                 Uncharted 2: Among Thieves™       7757.0     89.051107
11                        Red Dead Redemption       4292.0     88.701572
127                        Persona 3 Portable        776.0     86.451225
...                                       ...          ...           ...
3236                Lethis - Path of Progress         54.0           NaN
3240                                  Smelter       6459.0           NaN
3243               Within the Blade PS4 & PS5          7.0           NaN
3244            Alex Kidd in Miracle World DX         54.0           NaN
3245  Aerial_Knight's Never Yield - PS4 & PS5         21.0           NaN

[3270 rows x 3 columns]

In [32]:
tota_user_mean= df_sorted["total_users"].mean()
print(tota_user_mean)

7106.3330275229355

In [33]:
cum_total_rating= df_sorted["total_rating"].cummax()
print(cum_total_rating)

13      91.688779
31      91.688779
7       91.688779
11      91.688779
127     91.688779
          ...
3236          NaN
3240          NaN
3243          NaN
3244          NaN
3245          NaN
Name: total_rating, Length: 3270, dtype: float64

In [34]:
df_uniqune["highest_price"].value_counts(sort=True)

highest_price
20       523
15       321
30       318
40       301
25       229
10       206
60       175
50       161
70       146
0        133
13        83
18        64
8         56
35        45
17        39
5         36
12        36
80        34
22        32
14        30
24        28
7         27
45        26
16        22
9         19
19        18
6         16
21        15
4         14
11        14
27        13
55        13
100       12
10000     10
3          8
28         7
29         7
75         6
2          5
36         5
65         5
37         4
33         3
39         2
32         1
38         1
1          1
Name: count, dtype: int64

In [35]:
game_publiser=df_uniqune.drop_duplicates(subset="game_name")
print(game_publiser)

                         game_name  highest_price  release_date  \
0              Grand Theft Auto IV             25  Feb 15, 2012
1            Red Dead Redemption 2             60  Oct 26, 2018
2                  Red Dead Online             70  Oct 29, 2018
3               Grand Theft Auto 3             10   Oct 4, 2012
4               Grand Theft Auto V             70  Sep 17, 2013
...                            ...            ...           ...
3265  SENRAN KAGURA Burst Re:Newal             40  Jan 18, 2019
3266             Smash Hit Plunder             30   Oct 5, 2018
3267                 FOX n FORESTS             20  May 17, 2018
3268            DYNASTY WARRIORS 9             70  Mar 13, 2018
3269                   Vostok Inc.             15  Sep 22, 2017

                                        genre                    publisher  \
0                   Action / Shooter / Racing                     Rockstar
1                 Action / Adventure / Unique               Rockstar Games
2                          Action / Adventure               Rockstar Games
3                                          --               Rockstar Games
4                          Action / Adventure               Rockstar Games
...                                       ...                          ...
3265                                   Action     Marvelous Europe Limited
3266                 Arcade / Unique / Family        TRIANGULAR PIXELS LTD
3267  Action / Role playing games / Adventure  ASTRAGON ENTERTAINMENT GMBH
3268                                   Action        Koei Tecmo Europe Ltd
3269                 Action / Arcade / Casual           Badland Publishing

     platform  metacritic_score  metacritic_rating_count  \
0         PS3              98.0                     86.0
1         PS4              97.0                     99.0
2         PS4              97.0                     99.0
3         PS3              97.0                     56.0
4         PS3              97.0                     66.0
...       ...               ...                      ...
3265      PS4              65.0                     19.0
3266      PS4              65.0                     19.0
3267      PS4              65.0                     19.0
3268      PS4              65.0                     19.0
3269  PS Vita              65.0                     19.0

      metacritic_user_score  metacritic_user_rating_count  playstation_score  \
0                       8.3                        5541.0               4.32
1                       8.9                       31932.0               4.74
2                       8.9                       31932.0               4.74
3                       8.0                        2079.0               4.59
4                       8.5                       14322.0               4.65
...                     ...                           ...                ...
3265                    5.6                          65.0               4.69
3266                    5.6                          65.0               4.29
3267                    5.6                          65.0               4.22
3268                    5.6                          65.0               3.49
3269                    5.6                          65.0               5.00

      playstation_rating_count  total_users  user_score_100  \
0                      48904.0      54445.0            83.0
1                     379257.0     411189.0            89.0
2                     379346.0     411278.0            89.0
3                       1437.0       3516.0            80.0
4                      40895.0      55217.0            85.0
...                        ...          ...             ...
3265                    2485.0       2550.0            56.0
3266                       7.0         72.0            56.0
3267                      50.0        115.0            56.0
3268                   12177.0      12242.0            56.0
3269                       1.0         66.0            56.0

      playstation_score_100  total_rating
0                      43.2     47.330579
1                      47.4     50.641723
2                      47.4     50.641021
3                      45.9     66.548236
4                      46.5     56.534369
...                     ...           ...
3265                   46.9     47.264111
3266                   42.9     56.871429
3267                   42.2     52.126866
3268                   34.9     35.058503
3269                   50.0     57.941176

[3270 rows x 16 columns]

In [41]:
df_uniqune["isfree"]= df_uniqune["highest_price"] == 0
print(df_uniqune[["game_name", "highest_price", "isfree"]].head())

               game_name  highest_price  isfree
0    Grand Theft Auto IV             25   False
1  Red Dead Redemption 2             60   False
2        Red Dead Online             70   False
3     Grand Theft Auto 3             10   False
4     Grand Theft Auto V             70   False

In [63]:
platform_publisher = df_uniqune.groupby(["game_name","publisher", "platform"])["highest_price"].agg([max, sum ])
print(platform_publisher[:10])

                                                                               max  \
game_name                     publisher                         platform
#BLUD                         Humble Games                      PS4             25
-KLAUS-                       La Cosa Productions Inc.          PS4             20
.hack//G.U. Last Recode       BANDAI NAMCO ENTERTAINMENT EUROPE PS4             50
10 Second Ninja X             Curve Digital                     PS4 / PS Vita   10
1001 Spikes                   Nicalis Inc.                      PS4             15
11-11 Memories Retold         BANDAI NAMCO ENTERTAINMENT EUROPE PS4             25
13 Sentinels: Aegis Rim       SEGA EUROPE LTD                   PS4             60
140                           DOUBLE FINE PRODUCTIONS INC.      PS4             13
1942: Joint Strike            CE EUROPE LIMITED                 PS3             10
1979 Revolution: Black Friday DIGERATI DISTRIBUTION             PS4             12

                                                                               sum
game_name                     publisher                         platform
#BLUD                         Humble Games                      PS4             25
-KLAUS-                       La Cosa Productions Inc.          PS4             20
.hack//G.U. Last Recode       BANDAI NAMCO ENTERTAINMENT EUROPE PS4             50
10 Second Ninja X             Curve Digital                     PS4 / PS Vita   10
1001 Spikes                   Nicalis Inc.                      PS4             15
11-11 Memories Retold         BANDAI NAMCO ENTERTAINMENT EUROPE PS4             25
13 Sentinels: Aegis Rim       SEGA EUROPE LTD                   PS4             60
140                           DOUBLE FINE PRODUCTIONS INC.      PS4             13
1942: Joint Strike            CE EUROPE LIMITED                 PS3             10
1979 Revolution: Black Friday DIGERATI DISTRIBUTION             PS4             12

C:\Users\Miraj Gansi\AppData\Local\Temp\ipykernel_17024\238668606.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  platform_publisher = df_uniqune.groupby(["game_name","publisher", "platform"])["highest_price"].agg([max, sum ])
C:\Users\Miraj Gansi\AppData\Local\Temp\ipykernel_17024\238668606.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  platform_publisher = df_uniqune.groupby(["game_name","publisher", "platform"])["highest_price"].agg([max, sum ])

In [68]:
rating_genre= df_uniqune.pivot_table(values="total_rating", index="publisher", columns="genre",  fill_value= 0, margins= True)
print(rating_genre)

genre                          --     Action  Action / Adventure  \
publisher
101XP LTD                0.000000   0.000000            0.000000
10Tons Ltd.              0.000000   0.000000            0.000000
11 Bit Studios S.A.      0.000000   0.000000           46.920196
11 Sheep                 0.000000   0.000000            0.000000
1337 & SENRI             0.000000   0.000000           45.667560
...                           ...        ...                 ...
pixel games SARL-S       0.000000  49.368000            0.000000
straka.studio s. r. o.   0.000000   0.000000            0.000000
unknown                  0.000000  56.795007           49.588673
ustwo games limited      0.000000   0.000000            0.000000
All                     53.614057  52.857959           51.263307

genre                   Action / Adventure / Arcade  \
publisher
101XP LTD                                  0.000000
10Tons Ltd.                                0.000000
11 Bit Studios S.A.                        0.000000
11 Sheep                                   0.000000
1337 & SENRI                               0.000000
...                                             ...
pixel games SARL-S                         0.000000
straka.studio s. r. o.                     0.000000
unknown                                    0.000000
ustwo games limited                        0.000000
All                                       53.516686

genre                   Action / Adventure / Arcade / Brain training  \
publisher
101XP LTD                                                   0.000000
10Tons Ltd.                                                 0.000000
11 Bit Studios S.A.                                         0.000000
11 Sheep                                                    0.000000
1337 & SENRI                                                0.000000
...                                                              ...
pixel games SARL-S                                          0.000000
straka.studio s. r. o.                                      0.000000
unknown                                                     0.000000
ustwo games limited                                         0.000000
All                                                        48.081624

genre                   Action / Adventure / Casual  \
publisher
101XP LTD                                  0.000000
10Tons Ltd.                                0.000000
11 Bit Studios S.A.                        0.000000
11 Sheep                                   0.000000
1337 & SENRI                               0.000000
...                                             ...
pixel games SARL-S                         0.000000
straka.studio s. r. o.                     0.000000
unknown                                    0.000000
ustwo games limited                        0.000000
All                                       57.117404

genre                   Action / Adventure / Family  \
publisher
101XP LTD                                   0.00000
10Tons Ltd.                                 0.00000
11 Bit Studios S.A.                         0.00000
11 Sheep                                    0.00000
1337 & SENRI                                0.00000
...                                             ...
pixel games SARL-S                          0.00000
straka.studio s. r. o.                      0.00000
unknown                                     0.00000
ustwo games limited                         0.00000
All                                        48.87499

genre                   Action / Adventure / Horror  \
publisher
101XP LTD                                 69.200000
10Tons Ltd.                                0.000000
11 Bit Studios S.A.                        0.000000
11 Sheep                                   0.000000
1337 & SENRI                               0.000000
...                                             ...
pixel games SARL-S                         0.000000
straka.studio s. r. o.                     0.000000
unknown                                    0.000000
ustwo games limited                        0.000000
All                                       49.679063

genre                   Action / Adventure / Horror / Adult  \
publisher
101XP LTD                                          0.000000
10Tons Ltd.                                        0.000000
11 Bit Studios S.A.                                0.000000
11 Sheep                                           0.000000
1337 & SENRI                                       0.000000
...                                                     ...
pixel games SARL-S                                 0.000000
straka.studio s. r. o.                             0.000000
unknown                                            0.000000
ustwo games limited                                0.000000
All                                               49.407695

genre                   Action / Adventure / Music/rhythm  ...  \
publisher                                                  ...
101XP LTD                                        0.000000  ...
10Tons Ltd.                                      0.000000  ...
11 Bit Studios S.A.                              0.000000  ...
11 Sheep                                         0.000000  ...
1337 & SENRI                                     0.000000  ...
...                                                   ...  ...
pixel games SARL-S                               0.000000  ...
straka.studio s. r. o.                           0.000000  ...
unknown                                          0.000000  ...
ustwo games limited                              0.000000  ...
All                                             55.274972  ...

genre                   Strategy / Simulation / Casual  \
publisher
101XP LTD                                     0.000000
10Tons Ltd.                                   0.000000
11 Bit Studios S.A.                           0.000000
11 Sheep                                      0.000000
1337 & SENRI                                  0.000000
...                                                ...
pixel games SARL-S                            0.000000
straka.studio s. r. o.                        0.000000
unknown                                       0.000000
ustwo games limited                           0.000000
All                                          71.326126

genre                   Strategy / Simulation / Family  \
publisher
101XP LTD                                      0.00000
10Tons Ltd.                                    0.00000
11 Bit Studios S.A.                            0.00000
11 Sheep                                       0.00000
1337 & SENRI                                   0.00000
...                                                ...
pixel games SARL-S                             0.00000
straka.studio s. r. o.                         0.00000
unknown                                        0.00000
ustwo games limited                            0.00000
All                                           49.53086

genre                   Strategy / Simulation / Unique  Strategy / Simulator  \
publisher
101XP LTD                                     0.000000               0.00000
10Tons Ltd.                                   0.000000               0.00000
11 Bit Studios S.A.                           0.000000               0.00000
11 Sheep                                      0.000000               0.00000
1337 & SENRI                                  0.000000               0.00000
...                                                ...                   ...
pixel games SARL-S                            0.000000               0.00000
straka.studio s. r. o.                        0.000000               0.00000
unknown                                       0.000000               0.00000
ustwo games limited                           0.000000               0.00000
All                                          37.080092              68.82069

genre                   Strategy / Unique  Strategy / Unique / Family  \
publisher
101XP LTD                        0.000000                    0.000000
10Tons Ltd.                      0.000000                    0.000000
11 Bit Studios S.A.              0.000000                    0.000000
11 Sheep                         0.000000                    0.000000
1337 & SENRI                     0.000000                    0.000000
...                                   ...                         ...
pixel games SARL-S               0.000000                    0.000000
straka.studio s. r. o.           0.000000                    0.000000
unknown                          0.000000                    0.000000
ustwo games limited              0.000000                    0.000000
All                             55.662794                   46.569292

genre                      Unique  Unique / Casual  Unique / Family        All
publisher
101XP LTD                0.000000         0.000000          0.00000  69.200000
10Tons Ltd.              0.000000         0.000000          0.00000  43.737484
11 Bit Studios S.A.      0.000000         0.000000          0.00000  51.250415
11 Sheep                 0.000000         0.000000          0.00000  43.800000
1337 & SENRI             0.000000         0.000000          0.00000  45.667560
...                           ...              ...              ...        ...
pixel games SARL-S       0.000000         0.000000          0.00000  49.368000
straka.studio s. r. o.   0.000000         0.000000          0.00000  70.000000
unknown                  0.000000         0.000000          0.00000  54.593074
ustwo games limited      0.000000         0.000000          0.00000  82.754153
All                     52.832362        51.654867         46.12356  52.368277

[609 rows x 271 columns]